/* General styles */
* {
  box-sizing: border-box;
}

body{
    margin: 0;
}

/* lesson navigation */

.lesson-nav {
    float: right;
    height: 40px;
    width: 100%;
    border-radius: 0px;
    background: #37383F;
}

.nav-logo {
    float: left;    
    height: 100%;
    padding-right: 1%;;
    background: #4ABDF0;
}

#nav-logo-image{
    padding-right: 10%;
    margin: 3% 0 0 4%;
}

.triangle{    
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid #EE7C31;
    border-left: 20px solid #4ABDF0; 
    border-bottom: 20px solid #D94948;
    /* border-right: 20px solid #8DB434; */
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

#first-separator{
    background-color: #1D84D7;    
    float: left;    
    z-index: 1;
}

#second-separator{
    float: left;
    border-left: 20px solid #1D84D7; 
}

#nav-unit-title {
    background: #1D84D7;
    padding-left: 1%;
    padding-right: 2%;
    height: 100%;
}
.nav-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
}

#nav-lesson-title {
    float: left;
    padding-left: 1%;
    height: 100%;
    color: #4ABDF0;
}


/* lesson navigation links */

#profile-link {
    transition-duration: .2s;
    float: right;
    height: 100%;
    margin: 7px 10px 0 0;
}

.utility-links {
    color: #4ABDF0;
    float: right;
    padding-right: 2%;
}

.utility-icon {
    padding-top: 8%;
    float: left;
}

#help-icon {
    padding-top: 11%;
}

.utility-text {
    padding-top: 11%;
    padding-left: 7px;
    float: right;
}

#help-text {
    padding-top: 20%;
}

#settings-text {
    padding-top: 14%;
}


/* dropdown styles and transformations */

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.dropdown-open{
    transition-duration: .2s;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
}

/*************************
     Tablet Responsive 
**************************/

@media screen and (max-width: 768px) {
    
    .dropdown-content a:hover {background-color: #1D84D7;}
    
    #nav-icons:hover .dropdown-content {display: block;}

    .dropdown-content {
        clear: both;
        float: right;
        margin-right: 1%;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 18px;
    }

    .utility-text{
        line-height: 25px;
    }

    .utility-links {
        display: none;
    }

    .utility-icon {
        float: left;
        padding-right: 4px;
        padding-top: 0;
    }

    #help-icon {
        padding-left: 1px;
        padding-top: 0;
    }

    #dropdown-crypto-icon {
        padding-left: 3px;
    }

    #dropdown-crypto-text {
        line-height: 23px;
        padding-left: 4px;
    }
}

/*************************
     Mobil Responsive 
**************************/

@media screen and (max-width: 490px) {
    #nav-logo-image {
        padding-right: 10%;
        margin: 3px -52px 0 4%;
    }

    #nav-unit-title {
        text-align: center;
        width: 95px;
        padding-left: 3px;        
        font-size: 14px;
        line-height: inherit;
    }

    #nav-lesson-title {
        text-align: center;
        padding-left: 3px;
        font-size: 14px;
    }
}
