/* General styles */
* {
  box-sizing: border-box;
}

body{
    width: 100%;
}

/* modal dimensions */
#sign-in {
    margin: 10% auto;
    width: 500px;
    height: 540px;


    background-color: white;
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

/* close icon */
.close-icon {
    top: -193px;
    position: relative;
    margin: 5px 5px 0 0;
    z-index: 1;
    width: 35px;
    height: 37px;
    float: right;
}

.close-icon:hover{    
    cursor: pointer;
    width: 37px;
    height: 39px;
}

#sing_in_img {
    margin: 20px 25%;
    width: 249px;
    height: 150px;  
}

.form-group {
    margin: 23px 73px 30px 60px;
}

#email-icon, #pass-icon {
    width: 42px;
    height: 42px;
}

.login-inputs {
    padding-left: 5px;
    font-size: 20px;
    height: 52px;
    width: 313px;
    background-color: #e3e6ea;
    border-radius: 2px;
    border-color: none;
    border-style: none;
}

#email-icon {
    position: relative;
    top: 16px;
}

#pass-icon {
    position: relative;
    top: 16px;
}

#login-button{
       /* dimensions */
    width: 150px;
    height: 51px;
    margin-top: 1.2%;
        
    /* text styles */
    color: #FFFFFF;
    font-family: 'B612 Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* button style*/
    background: #006AF5;
    border-radius: 48px;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    
    /* position */
    margin: 0 35%;

}

#login-button:hover{
    background-color: #1D84D7;
    filter: none;
}

#login-button:active{
    mix-blend-mode: darken;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #176FB6;
    filter: none;
}

#login-button:focus{
    outline: none !important;    
    border-color: #02172e;
    box-shadow: 0 0 10px #151e27;
}

#forgot-pass{
    position: relative;
    top: 5%;
    right: -40%;
    color: #006af5;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    /* Paragraph - 16 (1em) */

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;

    /* netural-400 */

    color: #737581;
}

::-moz-placeholder { /* Firefox 19+ */


    /* Paragraph - 16 (1em) */
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    /* netural-400 */

    color: #737581;
}

::-ms-input-placeholder { /* IE 10+ */


    /* Paragraph - 16 (1em) */

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;

    /* netural-400 */

    color: #737581;
}

::-moz-placeholder { /* Firefox 18- */

    /* Paragraph - 16 (1em) */
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;

    /* netural-400 */

    color: #737581;color: pink;
} 


